---
layout: page
title: Tags
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

{% for item in (0..site.tags.size) %}
  {% unless foorloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
    <h3 id="{{ this_word | cgi_escape }}">{{ this_word }}</h3>
    <ul>
      {% for post in site.tags[this_word] %}
        {% if post.title != null %}
          <li>
            <span class="light-color" >{{ post.date | date: "%b %-d, %Y" }} »</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endunless %}
{% endfor %}

