h1, h2, h3, h4, h5, h6 {
  font-family: 'Play', sans-serif;
}

a {
  text-decoration: underline;
  color: #222;
}

pre {
  border-radius: 4px;
  color: #e5e5e5;
  background-color: #242424;
  padding: 14px;
}

p > code,
li > code {
  background-color: #e8e6e3;
  padding: 2px 5px;
  word-wrap: normal;
}

blockquote {
  font-style: italic;
}

p img {
  max-width: 100%;
}

#container {
  width: 94%;
  max-width: 720px;
  margin: 0 auto;
}

#navigation {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;

    a {
      display: block;
      padding: 2px 10px;
      font-family: 'Play', sans-serif;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
    }

    a:hover {
      color: #fff;
      background-color: #222;
    }
  }
}

.read-more a {
  text-decoration: none;
}

.post-header {
  margin: 50px 0 20px;

  h1 > a {
    text-decoration: none;
  }

  .post-meta {
    font-size: 85%;
    margin: 0;
  }
}
