h1, h2, h3, h4, h5, h6 {
  font-family: 'Play', sans-serif;
}

a {
  text-decoration: underline;
  color: #222;
}

pre {
  border-radius: 4px;
  color: #e5e5e5;
  background-color: #242424;
  padding: 14px;
}

p code {
  background-color: #e8e6e3;
  padding: 2px 5px;
}

blockquote {
  font-style: italic;
}

#container {
  width: 94%;
  max-width: 720px;
  margin: 0 auto;
}

#navigation {
  list-style-type: none;
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: -5px;

    a {
      display: block;
      padding: 4px 15px;
      border-right: 1px solid #e3e3e3;
      font-family: 'Play', sans-serif;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
    }

    a:hover {
      color: #fff;
      background-color: #a4332b;
    }
  }

  li:first-child a {
    border-left: 1px solid #e3e3e3;
  }
}

.top-header {
  margin-top: 20px;
  margin-bottom: 40px;

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 494px;
    height: auto;
  }
}

.post-in-list {
  h3 {
    margin: 28px 0 14px;
    text-align: center;
  }

  p {
    margin-bottom: 0;
  }
}

.post {
  .post-header {
    text-align: center;
    margin: 40px 0;

    .post-meta {
      font-size: 85%;
      margin: 0;
    }
  }
}
